In [2]:
import pandas as pd

In [3]:
a=["naveen","nani","kumar","siva","ravi"]  # column name with indexing
data=pd.Series(a)

In [4]:
print(data)

0    naveen
1      nani
2     kumar
3      siva
4      ravi
dtype: object

In [5]:
data=pd.DataFrame(a)

In [6]:
print(data)

        0
0  naveen
1    nani
2   kumar
3    siva
4    ravi

In [7]:
a={"Name":["naveen","nani","kumar","siva","ravi"],"age":[12,34,56,78,90],"salary":[12000,23000,43000,54000,11000]} 
data=pd.Series(a)

In [8]:
print(data)

Name        [naveen, nani, kumar, siva, ravi]
age                      [12, 34, 56, 78, 90]
salary    [12000, 23000, 43000, 54000, 11000]
dtype: object

In [9]:
data=pd.DataFrame(a)

In [10]:
print(data)

     Name  age  salary
0  naveen   12   12000
1    nani   34   23000
2   kumar   56   43000
3    siva   78   54000
4    ravi   90   11000

In [11]:
df= pd.read_csv("data/crops.csv")

In [13]:
print(df.head(10))
print(df)

    crop     year   area   msp  yield(quintal)
0   rice  2014-15  15759  1360          378216
1   rice  2015-16  15987  1414          383688
2   rice  2016-17  15747  1470          377928
3   rice  2017-18  15958  1550          382992
4   rice  2018-19  15848  1750          380352
5  maize  2014-15   1199  1310           29975
6  maize  2015-16   1227  1325           30675
7  maize  2016-17   1325  1365           33125
8  maize  2017-18   1369  1425           34225
9  maize  2018-19    951  1700           23775
             crop     year   area     msp  yield(quintal)
0            rice  2014-15  15759    1360          378216
1            rice  2015-16  15987    1414          383688
2            rice  2016-17  15747    1470          377928
3            rice  2017-18  15958    1550          382992
4            rice  2018-19  15848    1750          380352
..            ...      ...    ...     ...             ...
95  errachandanam  2014-15      5  150000              10
96  errachandanam  2015-16      5  160000              10
97  errachandanam  2016-17      9  190000              10
98  errachandanam  2017-18     10  195000              10
99  errachandanam  2018-19     12  209000              10

[100 rows x 5 columns]

### GITHUB

In [19]:
df=pd.read_csv("https://raw.githubusercontent.com/srinathkr07/IPL-Data-Analysis/master/matches.csv") # raw data
print(df.head(10))
print(df)

   id  season       city        date                        team1  \
0   1    2017  Hyderabad  2017-04-05          Sunrisers Hyderabad
1   2    2017       Pune  2017-04-06               Mumbai Indians
2   3    2017     Rajkot  2017-04-07                Gujarat Lions
3   4    2017     Indore  2017-04-08       Rising Pune Supergiant
4   5    2017  Bangalore  2017-04-08  Royal Challengers Bangalore
5   6    2017  Hyderabad  2017-04-09                Gujarat Lions
6   7    2017     Mumbai  2017-04-09        Kolkata Knight Riders
7   8    2017     Indore  2017-04-10  Royal Challengers Bangalore
8   9    2017       Pune  2017-04-11             Delhi Daredevils
9  10    2017     Mumbai  2017-04-12          Sunrisers Hyderabad

                         team2                  toss_winner toss_decision  \
0  Royal Challengers Bangalore  Royal Challengers Bangalore         field
1       Rising Pune Supergiant       Rising Pune Supergiant         field
2        Kolkata Knight Riders        Kolkata Knight Riders         field
3              Kings XI Punjab              Kings XI Punjab         field
4             Delhi Daredevils  Royal Challengers Bangalore           bat
5          Sunrisers Hyderabad          Sunrisers Hyderabad         field
6               Mumbai Indians               Mumbai Indians         field
7              Kings XI Punjab  Royal Challengers Bangalore           bat
8       Rising Pune Supergiant       Rising Pune Supergiant         field
9               Mumbai Indians               Mumbai Indians         field

   result  dl_applied                       winner  win_by_runs  \
0  normal           0          Sunrisers Hyderabad           35
1  normal           0       Rising Pune Supergiant            0
2  normal           0        Kolkata Knight Riders            0
3  normal           0              Kings XI Punjab            0
4  normal           0  Royal Challengers Bangalore           15
5  normal           0          Sunrisers Hyderabad            0
6  normal           0               Mumbai Indians            0
7  normal           0              Kings XI Punjab            0
8  normal           0             Delhi Daredevils           97
9  normal           0               Mumbai Indians            0

   win_by_wickets player_of_match                                      venue  \
0               0    Yuvraj Singh  Rajiv Gandhi International Stadium, Uppal
1               7       SPD Smith    Maharashtra Cricket Association Stadium
2              10         CA Lynn     Saurashtra Cricket Association Stadium
3               6      GJ Maxwell                     Holkar Cricket Stadium
4               0       KM Jadhav                      M Chinnaswamy Stadium
5               9     Rashid Khan  Rajiv Gandhi International Stadium, Uppal
6               4          N Rana                           Wankhede Stadium
7               8        AR Patel                     Holkar Cricket Stadium
8               0       SV Samson    Maharashtra Cricket Association Stadium
9               4       JJ Bumrah                           Wankhede Stadium

          umpire1        umpire2 umpire3
0     AY Dandekar       NJ Llong     NaN
1  A Nand Kishore         S Ravi     NaN
2     Nitin Menon      CK Nandan     NaN
3    AK Chaudhary  C Shamshuddin     NaN
4             NaN            NaN     NaN
5      A Deshmukh       NJ Llong     NaN
6     Nitin Menon      CK Nandan     NaN
7    AK Chaudhary  C Shamshuddin     NaN
8     AY Dandekar         S Ravi     NaN
9     Nitin Menon      CK Nandan     NaN
        id  season           city        date                        team1  \
0        1    2017      Hyderabad  2017-04-05          Sunrisers Hyderabad
1        2    2017           Pune  2017-04-06               Mumbai Indians
2        3    2017         Rajkot  2017-04-07                Gujarat Lions
3        4    2017         Indore  2017-04-08       Rising Pune Supergiant
4        5    2017      Bangalore  2017-04-08  Royal Challengers Bangalore
..     ...     ...            ...         ...                          ...
751  11347    2019         Mumbai    05/05/19        Kolkata Knight Riders
752  11412    2019        Chennai    07/05/19          Chennai Super Kings
753  11413    2019  Visakhapatnam    08/05/19          Sunrisers Hyderabad
754  11414    2019  Visakhapatnam    10/05/19               Delhi Capitals
755  11415    2019      Hyderabad    12/05/19               Mumbai Indians

                           team2                  toss_winner toss_decision  \
0    Royal Challengers Bangalore  Royal Challengers Bangalore         field
1         Rising Pune Supergiant       Rising Pune Supergiant         field
2          Kolkata Knight Riders        Kolkata Knight Riders         field
3                Kings XI Punjab              Kings XI Punjab         field
4               Delhi Daredevils  Royal Challengers Bangalore           bat
..                           ...                          ...           ...
751               Mumbai Indians               Mumbai Indians         field
752               Mumbai Indians          Chennai Super Kings           bat
753               Delhi Capitals               Delhi Capitals         field
754          Chennai Super Kings          Chennai Super Kings         field
755          Chennai Super Kings               Mumbai Indians           bat

     result  dl_applied                       winner  win_by_runs  \
0    normal           0          Sunrisers Hyderabad           35
1    normal           0       Rising Pune Supergiant            0
2    normal           0        Kolkata Knight Riders            0
3    normal           0              Kings XI Punjab            0
4    normal           0  Royal Challengers Bangalore           15
..      ...         ...                          ...          ...
751  normal           0               Mumbai Indians            0
752  normal           0               Mumbai Indians            0
753  normal           0               Delhi Capitals            0
754  normal           0          Chennai Super Kings            0
755  normal           0               Mumbai Indians            1

     win_by_wickets player_of_match  \
0                 0    Yuvraj Singh
1                 7       SPD Smith
2                10         CA Lynn
3                 6      GJ Maxwell
4                 0       KM Jadhav
..              ...             ...
751               9       HH Pandya
752               6        AS Yadav
753               2         RR Pant
754               6    F du Plessis
755               0       JJ Bumrah

                                         venue         umpire1  \
0    Rajiv Gandhi International Stadium, Uppal     AY Dandekar
1      Maharashtra Cricket Association Stadium  A Nand Kishore
2       Saurashtra Cricket Association Stadium     Nitin Menon
3                       Holkar Cricket Stadium    AK Chaudhary
4                        M Chinnaswamy Stadium             NaN
..                                         ...             ...
751                           Wankhede Stadium   Nanda Kishore
752                  M. A. Chidambaram Stadium     Nigel Llong
753                           ACA-VDCA Stadium             NaN
754                           ACA-VDCA Stadium   Sundaram Ravi
755         Rajiv Gandhi Intl. Cricket Stadium     Nitin Menon

            umpire2                  umpire3
0          NJ Llong                      NaN
1            S Ravi                      NaN
2         CK Nandan                      NaN
3     C Shamshuddin                      NaN
4               NaN                      NaN
..              ...                      ...
751        O Nandan                   S Ravi
752     Nitin Menon                Ian Gould
753             NaN                      NaN
754  Bruce Oxenford  Chettithody Shamshuddin
755       Ian Gould              Nigel Llong

[756 rows x 18 columns]

In [20]:
df=pd.read_csv("https://raw.githubusercontent.com/krishnaik06/Machine-Learning-in-90-days/master/Section%201-%20Python%20Crash%20Course/wine.csv")
print(df.head(10))
print(df)

   Unnamed: 0  0      1     2     3     4    5     6     7     8     9    10  \
0           0  1  14.23  1.71  2.43  15.6  127  2.80  3.06  0.28  2.29  5.64
1           1  1  13.20  1.78  2.14  11.2  100  2.65  2.76  0.26  1.28  4.38
2           2  1  13.16  2.36  2.67  18.6  101  2.80  3.24  0.30  2.81  5.68
3           3  1  14.37  1.95  2.50  16.8  113  3.85  3.49  0.24  2.18  7.80
4           4  1  13.24  2.59  2.87  21.0  118  2.80  2.69  0.39  1.82  4.32
5           5  1  14.20  1.76  2.45  15.2  112  3.27  3.39  0.34  1.97  6.75
6           6  1  14.39  1.87  2.45  14.6   96  2.50  2.52  0.30  1.98  5.25
7           7  1  14.06  2.15  2.61  17.6  121  2.60  2.51  0.31  1.25  5.05
8           8  1  14.83  1.64  2.17  14.0   97  2.80  2.98  0.29  1.98  5.20
9           9  1  13.86  1.35  2.27  16.0   98  2.98  3.15  0.22  1.85  7.22

     11    12    13
0  1.04  3.92  1065
1  1.05  3.40  1050
2  1.03  3.17  1185
3  0.86  3.45  1480
4  1.04  2.93   735
5  1.05  2.85  1450
6  1.02  3.58  1290
7  1.06  3.58  1295
8  1.08  2.85  1045
9  1.01  3.55  1045
     Unnamed: 0  0      1     2     3     4    5     6     7     8     9  \
0             0  1  14.23  1.71  2.43  15.6  127  2.80  3.06  0.28  2.29
1             1  1  13.20  1.78  2.14  11.2  100  2.65  2.76  0.26  1.28
2             2  1  13.16  2.36  2.67  18.6  101  2.80  3.24  0.30  2.81
3             3  1  14.37  1.95  2.50  16.8  113  3.85  3.49  0.24  2.18
4             4  1  13.24  2.59  2.87  21.0  118  2.80  2.69  0.39  1.82
..          ... ..    ...   ...   ...   ...  ...   ...   ...   ...   ...
173         173  3  13.71  5.65  2.45  20.5   95  1.68  0.61  0.52  1.06
174         174  3  13.40  3.91  2.48  23.0  102  1.80  0.75  0.43  1.41
175         175  3  13.27  4.28  2.26  20.0  120  1.59  0.69  0.43  1.35
176         176  3  13.17  2.59  2.37  20.0  120  1.65  0.68  0.53  1.46
177         177  3  14.13  4.10  2.74  24.5   96  2.05  0.76  0.56  1.35

        10    11    12    13
0     5.64  1.04  3.92  1065
1     4.38  1.05  3.40  1050
2     5.68  1.03  3.17  1185
3     7.80  0.86  3.45  1480
4     4.32  1.04  2.93   735
..     ...   ...   ...   ...
173   7.70  0.64  1.74   740
174   7.30  0.70  1.56   750
175  10.20  0.59  1.56   835
176   9.30  0.60  1.62   840
177   9.20  0.61  1.60   560

[178 rows x 15 columns]