In [1]:
import pandas as pd
df=pd.read_csv("data/boston.csv")

In [3]:
print(df.head(5))

   roll.no     crim    zn  indus  chas    nox     rm   age     dis  rad  \
0      1.0  0.00632  18.0   2.31   0.0  0.538  6.575  65.2  4.0900  1.0
1      2.0  0.02731   0.0   7.07   0.0  0.469  6.421  78.9  4.9671  2.0
2      3.0  0.02729   0.0   7.07   0.0  0.469  7.185  61.1  4.9671  2.0
3      4.0  0.03237   0.0   2.18   0.0  0.458  6.998  45.8  6.0622  3.0
4      5.0  0.06905   0.0   2.18   0.0  0.458  7.147  54.2  6.0622  3.0

     tax  ptratio   black  lstat  medv
0  296.0     15.3  396.90   4.98  24.0
1  242.0     17.8  396.90   9.14  21.6
2  242.0     17.8  392.83   4.03  34.7
3  222.0     18.7  394.63   2.94  33.4
4  222.0     18.7  396.90   5.33  36.2

In [4]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 15 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   roll.no  504 non-null    float64
 1   crim     456 non-null    float64
 2   zn       502 non-null    float64
 3   indus    499 non-null    float64
 4   chas     502 non-null    float64
 5   nox      504 non-null    float64
 6   rm       496 non-null    float64
 7   age      503 non-null    float64
 8   dis      495 non-null    float64
 9   rad      503 non-null    float64
 10  tax      504 non-null    float64
 11  ptratio  503 non-null    float64
 12  black    493 non-null    float64
 13  lstat    497 non-null    float64
 14  medv     497 non-null    float64
dtypes: float64(15)
memory usage: 59.4 KB
None

In [5]:
print(df.isnull().sum())

roll.no     2
crim       50
zn          4
indus       7
chas        4
nox         2
rm         10
age         3
dis        11
rad         3
tax         2
ptratio     3
black      13
lstat       9
medv        9
dtype: int64

In [6]:
df.crim=df.crim.fillna(df.crim.mean())

In [7]:
df.black=df.black.fillna(df.black.mean())

In [8]:
df.dis=df.dis.fillna(df.dis.mean())

In [9]:
df.rm=df.rm.fillna(df.rm.mean())

In [14]:
print(df.isnull().sum())

roll.no    2
crim       0
zn         4
indus      7
chas       4
nox        2
rm         0
age        3
dis        0
rad        3
tax        2
ptratio    3
black      0
lstat      9
medv       9
dtype: int64

In [18]:
dt=df.dropna()
print(dt)

     roll.no     crim    zn  indus  chas    nox     rm   age       dis  rad  \
0        1.0  0.00632  18.0   2.31   0.0  0.538  6.575  65.2  4.090000  1.0
1        2.0  0.02731   0.0   7.07   0.0  0.469  6.421  78.9  4.967100  2.0
2        3.0  0.02729   0.0   7.07   0.0  0.469  7.185  61.1  4.967100  2.0
3        4.0  0.03237   0.0   2.18   0.0  0.458  6.998  45.8  6.062200  3.0
4        5.0  0.06905   0.0   2.18   0.0  0.458  7.147  54.2  6.062200  3.0
..       ...      ...   ...    ...   ...    ...    ...   ...       ...  ...
498    499.0  0.23912   0.0   9.69   0.0  0.585  6.019  65.3  2.409100  6.0
499    500.0  0.17783   0.0   9.69   0.0  0.585  5.569  73.5  2.399900  6.0
500    501.0  0.22438   0.0   9.69   0.0  0.585  6.027  79.7  2.498200  6.0
501    502.0  0.06263   0.0  11.93   0.0  0.573  6.593  69.1  2.478600  1.0
503    504.0  0.06076   0.0  11.93   0.0  0.573  6.976  91.0  3.806271  1.0

       tax  ptratio   black  lstat  medv
0    296.0     15.3  396.90   4.98  24.0
1    242.0     17.8  396.90   9.14  21.6
2    242.0     17.8  392.83   4.03  34.7
3    222.0     18.7  394.63   2.94  33.4
4    222.0     18.7  396.90   5.33  36.2
..     ...      ...     ...    ...   ...
498  391.0     19.2  396.90  12.92  21.2
499  391.0     19.2  395.77  15.10  17.5
500  391.0     19.2  396.90  14.33  16.8
501  273.0     21.0  391.99   9.67  22.4
503  273.0     21.0  396.90   5.64  23.9

[482 rows x 15 columns]

In [19]:
print(dt.isnull().sum())

roll.no    0
crim       0
zn         0
indus      0
chas       0
nox        0
rm         0
age        0
dis        0
rad        0
tax        0
ptratio    0
black      0
lstat      0
medv       0
dtype: int64

In [20]:
dt.to_csv("DATA/cleaned data/boston1.csv")