In [1]:
import pandas as pd
df1= pd.read_csv("data/crops.csv")

In [2]:
print(df1.head())

   crop     year   area   msp  yield(quintal)
0  rice  2014-15  15759  1360          378216
1  rice  2015-16  15987  1414          383688
2  rice  2016-17  15747  1470          377928
3  rice  2017-18  15958  1550          382992
4  rice  2018-19  15848  1750          380352

In [3]:
df=pd.set_option("display.max_rows",None) 
# to sell all  the rows
print(df)

None

In [4]:
df=pd.set_option("display.max_columns",None) # to sell all  the columns
print(df)

None

In [5]:
print(df1.head())

   crop     year   area   msp  yield(quintal)
0  rice  2014-15  15759  1360          378216
1  rice  2015-16  15987  1414          383688
2  rice  2016-17  15747  1470          377928
3  rice  2017-18  15958  1550          382992
4  rice  2018-19  15848  1750          380352

In [6]:
print(df1.head(10))

    crop     year   area   msp  yield(quintal)
0   rice  2014-15  15759  1360          378216
1   rice  2015-16  15987  1414          383688
2   rice  2016-17  15747  1470          377928
3   rice  2017-18  15958  1550          382992
4   rice  2018-19  15848  1750          380352
5  maize  2014-15   1199  1310           29975
6  maize  2015-16   1227  1325           30675
7  maize  2016-17   1325  1365           33125
8  maize  2017-18   1369  1425           34225
9  maize  2018-19    951  1700           23775

In [7]:
print(df1.tail())

             crop     year  area     msp  yield(quintal)
95  errachandanam  2014-15     5  150000              10
96  errachandanam  2015-16     5  160000              10
97  errachandanam  2016-17     9  190000              10
98  errachandanam  2017-18    10  195000              10
99  errachandanam  2018-19    12  209000              10

In [8]:
print(df1['crop'])

0              rice
1              rice
2              rice
3              rice
4              rice
5             maize
6             maize
7             maize
8             maize
9             maize
10        greengram
11        greengram
12        greengram
13        greengram
14        greengram
15          redgram
16         red gram
17         red gram
18         red gram
19         red gram
20           cotton
21           cotton
22           cotton
23           cotton
24           cotton
25         turmeric
26         turmeric
27         turmeric
28         turmeric
29         turmeric
30        sugarcane
31        sugarcane
32        sugarcane
33        sugarcane
34        sugarcane
35            mango
36            mango
37            mango
38            mango
39            mango
40       cashew nut
41       cashew nut
42       cashew nut
43       cashew nut
44       cashew nut
45           banana
46           banana
47           banana
48           banana
49           banana
50            guava
51            guava
52            guava
53            guava
54            guava
55            lemon
56            lemon
57            lemon
58            lemon
59            lemon
60          coconut
61          coconut
62          coconut
63          coconut
64          coconut
65           sapota
66           sapota
67           sapota
68           sapota
69           sapota
70          palmoil
71          palmoil
72          palmoil
73          palmoil
74          palmoil
75        eukalptus
76        eukalptus
77        eukalytus
78        eukalytus
79        eukalytus
80          malbari
81          malbari
82          malbari
83          malbari
84          malbari
85       chedu vepa
86       chedu vepa
87       chedu vepa
88       chedu vepa
89       chedu vepa
90            tekku
91            tekku
92            tekku
93            tekku
94            tekku
95    errachandanam
96    errachandanam
97    errachandanam
98    errachandanam
99    errachandanam
Name: crop, dtype: object

In [9]:
print(df1[['crop','area','msp']].head())

   crop   area   msp
0  rice  15759  1360
1  rice  15987  1414
2  rice  15747  1470
3  rice  15958  1550
4  rice  15848  1750

In [10]:
print(df1.dtypes)

crop              object
year              object
area               int64
msp                int64
yield(quintal)     int64
dtype: object

In [11]:
print(df1["area"].dtypes)

int64

In [12]:
print(df1.columns)

Index(['crop', 'year', 'area', 'msp', 'yield(quintal)'], dtype='object')

In [13]:
print(df1.axes)
# gives the rows and columns names

[RangeIndex(start=0, stop=100, step=1), Index(['crop', 'year', 'area', 'msp', 'yield(quintal)'], dtype='object')]

In [14]:
print(df1.ndim)  # no of dimensions i.e rows and columns

2

In [15]:
print(df1.size)  #no of tuples in the file i.e=100*5=500 i.e rows x columns

500

In [16]:
print(df1.shape)         # gives the no of rows and columns

(100, 5)

In [17]:
print(df1.values) #numpy representation of data as alist

[['rice' '2014-15' 15759 1360 378216]
 ['rice' '2015-16' 15987 1414 383688]
 ['rice' '2016-17' 15747 1470 377928]
 ['rice' '2017-18' 15958 1550 382992]
 ['rice' '2018-19' 15848 1750 380352]
 ['maize' '2014-15' 1199 1310 29975]
 ['maize' '2015-16' 1227 1325 30675]
 ['maize' '2016-17' 1325 1365 33125]
 ['maize' '2017-18' 1369 1425 34225]
 ['maize' '2018-19' 951 1700 23775]
 ['greengram' '2014-15' 45 4600 225]
 ['greengram' '2015-16' 40 4850 200]
 ['greengram' '2016-17' 51 5225 255]
 ['greengram' '2017-18' 40 5575 200]
 ['greengram' '2018-19' 38 6975 190]
 ['redgram' '2014-15' 27 3175 168]
 ['red gram' '2015-16' 12 3500 72]
 ['red gram' '2016-17' 16 4000 80]
 ['red gram' '2017-18' 33 4400 165]
 ['red gram' '2018-19' 30 4600 150]
 ['cotton' '2014-15' 183 3750 1098]
 ['cotton' '2015-16' 176 3800 1056]
 ['cotton' '2016-17' 135 3860 810]
 ['cotton' '2017-18' 157 4020 942]
 ['cotton' '2018-19' 79 5150 474]
 ['turmeric' '2014-15' 3 2 30]
 ['turmeric' '2015-16' 7 2 70]
 ['turmeric' '2016-17' 2 2 20]
 ['turmeric' '2017-18' 3 2 30]
 ['turmeric' '2018-19' 6 2 60]
 ['sugarcane' '2014-15' 2627 220 525400]
 ['sugarcane' '2015-16' 1863 230 372600]
 ['sugarcane' '2016-17' 1711 230 342200]
 ['sugarcane' '2017-18' 1448 255 289600]
 ['sugarcane' '2018-19' 1266 275 253200]
 ['mango' '2014-15' 3408 10000 51015]
 ['mango' '2015-16' 2527 10100 37905]
 ['mango' '2016-17' 2092 11000 31380]
 ['mango' '2017-18' 1829 11500 87435]
 ['mango' '2018-19' 1627 13000 24405]
 ['cashew nut' '2014-15' 284 10000 568]
 ['cashew nut' '2015-16' 254 11000 508]
 ['cashew nut' '2016-17' 223 12000 446]
 ['cashew nut' '2017-18' 226 13000 452]
 ['cashew nut' '2018-19' 189 19000 378]
 ['banana' '2014-15' 116 6000 18560]
 ['banana' '2015-16' 235 7000 43600]
 ['banana' '2016-17' 76 9000 12160]
 ['banana' '2017-18' 70 10000 11200]
 ['banana' '2018-19' 36 15000 5760]
 ['guava' '2014-15' 176 9000 1760]
 ['guava' '2015-16' 242 9500 2420]
 ['guava' '2016-17' 302 9600 3020]
 ['guava' '2017-18' 345 9700 3450]
 ['guava' '2018-19' 363 10000 3630]
 ['lemon' '2014-15' 49 15000 245]
 ['lemon' '2015-16' 54 15500 270]
 ['lemon' '2016-17' 67 16000 335]
 ['lemon' '2017-18' 95 17000 475]
 ['lemon' '2018-19' 95 17500 475]
 ['coconut' '2014-15' 188 1450 56400]
 ['coconut' '2015-16' 169 1500 50700]
 ['coconut' '2016-17' 137 1600 41100]
 ['coconut' '2017-18' 152 1760 45600]
 ['coconut' '2018-19' 155 2030 46100]
 ['sapota' '2014-15' 21 6000 840]
 ['sapota' '2015-16' 79 5000 3160]
 ['sapota' '2016-17' 68 5500 2720]
 ['sapota' '2017-18' 74 6200 2960]
 ['sapota' '2018-19' 70 6500 2800]
 ['palmoil' '2014-15' 1487 30000 386620]
 ['palmoil' '2015-16' 1792 35000 465920]
 ['palmoil' '2016-17' 1866 36000 485160]
 ['palmoil' '2017-18' 1915 38000 497900]
 ['palmoil' '2018-19' 1955 40000 508300]
 ['eukalptus' '2014-15' 2003 8000 460690]
 ['eukalptus' '2015-16' 2548 8500 586040]
 ['eukalytus' '2016-17' 2585 9000 594550]
 ['eukalytus' '2017-18' 2664 9500 612720]
 ['eukalytus' '2018-19' 2668 10000 613640]
 ['malbari' '2014-15' 5 90000 2250]
 ['malbari' '2015-16' 5 80000 2850]
 ['malbari' '2016-17' 19 60000 8550]
 ['malbari' '2017-18' 17 85000 7650]
 ['malbari' '2018-19' 19 90000 8559]
 ['chedu vepa' '2014-15' 15 56000 3750]
 ['chedu vepa' '2015-16' 15 59000 3750]
 ['chedu vepa' '2016-17' 15 65000 3750]
 ['chedu vepa' '2017-18' 19 67000 4750]
 ['chedu vepa' '2018-19' 19 75000 4750]
 ['tekku' '2014-15' 25 150000 10]
 ['tekku' '2015-16' 32 160000 10]
 ['tekku' '2016-17' 34 175000 10]
 ['tekku' '2017-18' 40 189000 10]
 ['tekku' '2018-19' 40 190000 10]
 ['errachandanam' '2014-15' 5 150000 10]
 ['errachandanam' '2015-16' 5 160000 10]
 ['errachandanam' '2016-17' 9 190000 10]
 ['errachandanam' '2017-18' 10 195000 10]
 ['errachandanam' '2018-19' 12 209000 10]]

In [18]:
print(df1.describe())  #gives the description of the data

               area            msp  yield(quintal)
count    100.000000     100.000000      100.000000
mean    1333.040000   31363.090000    97007.270000
std     3454.998174   53527.125655   181610.087946
min        2.000000       2.000000       10.000000
25%       29.250000    2888.750000      252.500000
50%      125.500000    9000.000000     3305.000000
75%     1336.000000   21750.000000    45725.000000
max    15987.000000  209000.000000   613640.000000

In [19]:
print(df1.max())

crop              turmeric
year               2018-19
area                 15987
msp                 209000
yield(quintal)      613640
dtype: object

In [20]:
print(df1["area"].max())

15987

In [22]:
print(df1.mean())

area               1333.04
msp               31363.09
yield(quintal)    97007.27
dtype: float64

C:\Users\knani\AppData\Local\Temp/ipykernel_1784/1183993460.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(df1.mean())

In [23]:
print(df1["area"].mean())

1333.04

In [24]:
print(df1.std()) # standard deviation

area                3454.998174
msp                53527.125655
yield(quintal)    181610.087946
dtype: float64

C:\Users\knani\AppData\Local\Temp/ipykernel_1784/2953682192.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(df1.std()) # standard deviation

In [25]:
print(df1["area"].std())

3454.998173982473

In [26]:
print(df1["area"].unique()) # gives the unique values of the column

[15759 15987 15747 15958 15848  1199  1227  1325  1369   951    45    40
    51    38    27    12    16    33    30   183   176   135   157    79
     3     7     2     6  2627  1863  1711  1448  1266  3408  2527  2092
  1829  1627   284   254   223   226   189   116   235    76    70    36
   242   302   345   363    49    54    67    95   188   169   137   152
   155    21    68    74  1487  1792  1866  1915  1955  2003  2548  2585
  2664  2668     5    19    17    15    25    32    34     9    10]

In [27]:
print(df1["crop"].unique())

['rice' 'maize' 'greengram' 'redgram' 'red gram' 'cotton' 'turmeric'
 'sugarcane' 'mango' 'cashew nut' 'banana' 'guava' 'lemon' 'coconut'
 'sapota' 'palmoil' 'eukalptus' 'eukalytus' 'malbari' 'chedu vepa' 'tekku'
 'errachandanam']

In [28]:
print(df1["crop"].value_counts())   
#gives the unique category counts

rice             5
banana           5
tekku            5
chedu vepa       5
malbari          5
palmoil          5
sapota           5
coconut          5
lemon            5
maize            5
guava            5
cashew nut       5
mango            5
sugarcane        5
turmeric         5
cotton           5
greengram        5
errachandanam    5
red gram         4
eukalytus        3
eukalptus        2
redgram          1
Name: crop, dtype: int64

In [29]:
print(df1["area"].value_counts())

19       4
5        4
40       4
15       3
95       2
70       2
3        2
79       2
176      2
12       2
15759    1
155      1
152      1
137      1
169      1
188      1
54       1
67       1
68       1
49       1
363      1
345      1
302      1
242      1
36       1
21       1
1487     1
74       1
2664     1
9        1
34       1
32       1
25       1
17       1
2668     1
2585     1
235      1
2548     1
2003     1
1955     1
1915     1
1866     1
1792     1
76       1
226      1
116      1
45       1
183      1
30       1
33       1
16       1
27       1
38       1
51       1
951      1
189      1
1369     1
1325     1
1227     1
1199     1
15848    1
15958    1
15747    1
135      1
157      1
7        1
2        1
15987    1
223      1
254      1
284      1
1627     1
1829     1
2092     1
2527     1
3408     1
1266     1
1448     1
1711     1
1863     1
2627     1
6        1
10       1
Name: area, dtype: int64

In [30]:
print(df1.sample(n=10))     # gives random values

          crop     year  area    msp  yield(quintal)
35       mango  2014-15  3408  10000           51015
24      cotton  2018-19    79   5150             474
20      cotton  2014-15   183   3750            1098
21      cotton  2015-16   176   3800            1056
19    red gram  2018-19    30   4600             150
40  cashew nut  2014-15   284  10000             568
76   eukalptus  2015-16  2548   8500          586040
45      banana  2014-15   116   6000           18560
72     palmoil  2016-17  1866  36000          485160
30   sugarcane  2014-15  2627    220          525400

In [31]:
print(df1.isnull().sum())

crop              0
year              0
area              0
msp               0
yield(quintal)    0
dtype: int64

In [32]:
#loc[] ==location 
#iloc[]==index location

In [33]:
print(df1.loc[5:15])  # gives all the data from 5 to 15 with all columns

         crop     year  area   msp  yield(quintal)
5       maize  2014-15  1199  1310           29975
6       maize  2015-16  1227  1325           30675
7       maize  2016-17  1325  1365           33125
8       maize  2017-18  1369  1425           34225
9       maize  2018-19   951  1700           23775
10  greengram  2014-15    45  4600             225
11  greengram  2015-16    40  4850             200
12  greengram  2016-17    51  5225             255
13  greengram  2017-18    40  5575             200
14  greengram  2018-19    38  6975             190
15    redgram  2014-15    27  3175             168

In [34]:
print(df1.loc[5:15,["crop","year","area"]])
# gives the value of three columns

         crop     year  area
5       maize  2014-15  1199
6       maize  2015-16  1227
7       maize  2016-17  1325
8       maize  2017-18  1369
9       maize  2018-19   951
10  greengram  2014-15    45
11  greengram  2015-16    40
12  greengram  2016-17    51
13  greengram  2017-18    40
14  greengram  2018-19    38
15    redgram  2014-15    27

In [35]:
print(df1.iloc[10:20,[1,3]]) # [rows:rows , columns:columns]
# gives the data based on index of column number

       year   msp
10  2014-15  4600
11  2015-16  4850
12  2016-17  5225
13  2017-18  5575
14  2018-19  6975
15  2014-15  3175
16  2015-16  3500
17  2016-17  4000
18  2017-18  4400
19  2018-19  4600

In [36]:
print(df1.iloc[5])   # gives the value of that row with all columns

crop                maize
year              2014-15
area                 1199
msp                  1310
yield(quintal)      29975
Name: 5, dtype: object