In [1]:
import pandas as pd

df=pd.read_csv("data/movie_metadata.csv")

In [2]:
print(df.head(2))

   color   director_name  num_critic_for_reviews  duration  \
0  Color   James Cameron                   723.0     178.0
1  Color  Gore Verbinski                   302.0     169.0

   director_facebook_likes  actor_3_facebook_likes      actor_2_name  \
0                      0.0                   855.0  Joel David Moore
1                    563.0                  1000.0     Orlando Bloom

   actor_1_facebook_likes        gross                           genres  ...  \
0                  1000.0  760505847.0  Action|Adventure|Fantasy|Sci-Fi  ...
1                 40000.0  309404152.0         Action|Adventure|Fantasy  ...

  num_user_for_reviews language  country  content_rating       budget  \
0               3054.0  English      USA           PG-13  237000000.0
1               1238.0  English      USA           PG-13  300000000.0

   title_year actor_2_facebook_likes imdb_score  aspect_ratio  \
0      2009.0                  936.0        7.9          1.78
1      2007.0                 5000.0        7.1          2.35

  movie_facebook_likes
0                33000
1                    0

[2 rows x 28 columns]

In [3]:
print(df.shape)

(5043, 28)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      5024 non-null   object
 1   director_name              4939 non-null   object
 2   num_critic_for_reviews     4993 non-null   float64
 3   duration                   5028 non-null   float64
 4   director_facebook_likes    4939 non-null   float64
 5   actor_3_facebook_likes     5020 non-null   float64
 6   actor_2_name               5030 non-null   object
 7   actor_1_facebook_likes     5036 non-null   float64
 8   gross                      4159 non-null   float64
 9   genres                     5043 non-null   object
 10  actor_1_name               5036 non-null   object
 11  movie_title                5043 non-null   object
 12  num_voted_users            5043 non-null   int64
 13  cast_total_facebook_likes  5043 non-null   int64
 14  actor_3_name               5020 non-null   object
 15  facenumber_in_poster       5030 non-null   float64
 16  plot_keywords              4890 non-null   object
 17  movie_imdb_link            5043 non-null   object
 18  num_user_for_reviews       5022 non-null   float64
 19  language                   5031 non-null   object
 20  country                    5038 non-null   object
 21  content_rating             4740 non-null   object
 22  budget                     4551 non-null   float64
 23  title_year                 4935 non-null   float64
 24  actor_2_facebook_likes     5030 non-null   float64
 25  imdb_score                 5043 non-null   float64
 26  aspect_ratio               4714 non-null   float64
 27  movie_facebook_likes       5043 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

In [5]:
dt=df[df.duration>160]
print(dt)

                 color      director_name  num_critic_for_reviews  duration  \
0                Color      James Cameron                   723.0     178.0
1                Color     Gore Verbinski                   302.0     169.0
3                Color  Christopher Nolan                   813.0     164.0
10               Color        Zack Snyder                   673.0     183.0
11               Color       Bryan Singer                   434.0     169.0
...                ...                ...                     ...       ...
4572   Black and White     Khalid Mohamed                     1.0     167.0
4688             Color        Steve James                    53.0     170.0
4694             Color      Peter Jackson                   446.0     201.0
4708             Color   Michael Wadleigh                    53.0     215.0
4747   Black and White     Akira Kurosawa                   153.0     202.0

      director_facebook_likes  actor_3_facebook_likes        actor_2_name  \
0                         0.0                   855.0    Joel David Moore
1                       563.0                  1000.0       Orlando Bloom
3                     22000.0                 23000.0      Christian Bale
10                        0.0                  2000.0        Lauren Cohan
11                        0.0                   903.0       Marlon Brando
...                       ...                     ...                 ...
4572                     10.0                    97.0      Manoj Bajpayee
4688                     23.0                     2.0         Arthur Agee
4694                      0.0                    84.0  Thomas Kretschmann
4708                     14.0                   136.0        Jimi Hendrix
4747                      0.0                     4.0       Minoru Chiaki

      actor_1_facebook_likes        gross                           genres  \
0                     1000.0  760505847.0  Action|Adventure|Fantasy|Sci-Fi
1                    40000.0  309404152.0         Action|Adventure|Fantasy
3                    27000.0  448130642.0                  Action|Thriller
10                   15000.0  330249062.0          Action|Adventure|Sci-Fi
11                   18000.0  200069408.0          Action|Adventure|Sci-Fi
...                      ...          ...                              ...
4572                   353.0     610991.0                    Drama|Romance
4688                     7.0    7830611.0          Documentary|Drama|Sport
4694                  6000.0  218051260.0   Action|Adventure|Drama|Romance
4708                   262.0   13300000.0        Documentary|History|Music
4747                   304.0     269061.0           Action|Adventure|Drama

      ... num_user_for_reviews  language      country  content_rating  \
0     ...               3054.0   English          USA           PG-13
1     ...               1238.0   English          USA           PG-13
3     ...               2701.0   English          USA           PG-13
10    ...               3018.0   English          USA           PG-13
11    ...               2367.0   English          USA           PG-13
...   ...                  ...       ...          ...             ...
4572  ...                 19.0     Hindi        India             NaN
4688  ...                 74.0   English          USA           PG-13
4694  ...               2618.0   English  New Zealand           PG-13
4708  ...                 63.0   English          USA               R
4747  ...                596.0  Japanese        Japan         Unrated

           budget  title_year actor_2_facebook_likes imdb_score  aspect_ratio  \
0     237000000.0      2009.0                  936.0        7.9          1.78
1     300000000.0      2007.0                 5000.0        7.1          2.35
3     250000000.0      2012.0                23000.0        8.5          2.35
10    250000000.0      2016.0                 4000.0        6.9          2.35
11    209000000.0      2006.0                10000.0        6.1          2.35
...           ...         ...                    ...        ...           ...
4572    1000000.0      2000.0                  186.0        6.2          2.35
4688     700000.0      1994.0                    6.0        8.3          1.33
4694  207000000.0      2005.0                  918.0        7.2          2.35
4708     600000.0      1970.0                  227.0        8.1          2.20
4747    2000000.0      1954.0                    8.0        8.7          1.37

     movie_facebook_likes
0                   33000
1                       0
3                  164000
10                 197000
11                      0
...                   ...
4572                   92
4688                    0
4694                    0
4708                    0
4747                11000

[133 rows x 28 columns]

In [6]:
print(dt[["director_name","movie_title","duration"]])   # dt should be defined and it filters columns

          director_name                                movie_title  duration
0         James Cameron                                    Avatar      178.0
1        Gore Verbinski  Pirates of the Caribbean: At World's End      169.0
3     Christopher Nolan                     The Dark Knight Rises      164.0
10          Zack Snyder        Batman v Superman: Dawn of Justice      183.0
11         Bryan Singer                          Superman Returns      169.0
...                 ...                                        ...       ...
4572     Khalid Mohamed                                      Fiza      167.0
4688        Steve James                               Hoop Dreams      170.0
4694      Peter Jackson                                 King Kong      201.0
4708   Michael Wadleigh                                 Woodstock      215.0
4747     Akira Kurosawa                             Seven Samurai      202.0

[133 rows x 3 columns]

In [7]:
print(df[(df.duration>200)&(df.num_critic_for_reviews<100)&(df.country=="USA")]) 
# all the conditions are true then it gives the data

                 color       director_name  num_critic_for_reviews  duration  \
698              Color     Lawrence Kasdan                    40.0     212.0
883              Color         Ron Maxwell                    84.0     280.0
1124             Color  Billy Bob Thornton                    85.0     220.0
1125   Black and White        Oliver Stone                    83.0     212.0
1429             Color           Spike Lee                    61.0     202.0
1501             Color     Taylor Hackford                    12.0     330.0
1980             Color         Ron Maxwell                    22.0     271.0
2266             Color      George Stevens                    27.0     225.0
2356             Color       Kevin Costner                    92.0     236.0
2727             Color                 NaN                     9.0     286.0
4708             Color    Michael Wadleigh                    53.0     215.0

      director_facebook_likes  actor_3_facebook_likes  \
698                     759.0                   812.0
883                      33.0                    67.0
1124                      0.0                   820.0
1125                      0.0                   805.0
1429                      0.0                   318.0
1501                    138.0                   672.0
1980                     33.0                   251.0
2266                    126.0                   202.0
2356                      0.0                   232.0
2727                      NaN                   527.0
4708                     14.0                   136.0

                 actor_2_name  actor_1_facebook_likes        gross  \
698          Catherine O'Hara                  2000.0   25052000.0
883          Bruce Boxleitner                   789.0   12870569.0
1124             Henry Thomas                 13000.0   15527125.0
1125              Bob Hoskins                 12000.0   13560960.0
1429             Delroy Lindo                 18000.0   48169908.0
1501            Jesse Borrego                   848.0    4496583.0
1980  William Morgan Sheppard                   854.0   10769960.0
2266            Carroll Baker                   940.0    8000000.0
2356           Michael Spears                   933.0  184208848.0
2727            Tom Hollander                   857.0          NaN
4708             Jimi Hendrix                   262.0   13300000.0

                                       genres  ... num_user_for_reviews  \
698   Adventure|Biography|Crime|Drama|Western  ...                145.0
883                         Drama|History|War  ...                497.0
1124                    Drama|Romance|Western  ...                183.0
1125                  Biography|Drama|History  ...                161.0
1429          Biography|Drama|History|Romance  ...                156.0
1501                              Crime|Drama  ...                129.0
1980                        Drama|History|War  ...                256.0
2266                  Biography|Drama|History  ...                100.0
2356                  Adventure|Drama|Western  ...                382.0
2727                   Drama|History|Thriller  ...                 39.0
4708                Documentary|History|Music  ...                 63.0

     language  country  content_rating      budget  title_year  \
698   English      USA           PG-13  63000000.0      1994.0
883   English      USA           PG-13  56000000.0      2003.0
1124  English      USA           PG-13  57000000.0      2000.0
1125  English      USA               R  50000000.0      1995.0
1429  English      USA           PG-13  33000000.0      1992.0
1501  English      USA               R  35000000.0      1993.0
1980  English      USA              PG  25000000.0      1993.0
2266  English      USA               G  20000000.0      1965.0
2356  English      USA           PG-13  22000000.0      1990.0
2727  English      USA             NaN         NaN         NaN
4708  English      USA               R    600000.0      1970.0

     actor_2_facebook_likes imdb_score  aspect_ratio movie_facebook_likes
698                   925.0        6.6          2.35                    0
883                   640.0        6.3          2.35                  953
1124                  861.0        5.8          2.35                  652
1125                 5000.0        7.1          2.35                  915
1429                  848.0        7.7          1.85                    0
1501                  674.0        8.0          1.66                 6000
1980                  702.0        7.7          1.85                    0
2266                  208.0        6.6          2.76                 1000
2356                  839.0        8.0          2.35                    0
2727                  555.0        7.9          1.78                  733
4708                  227.0        8.1          2.20                    0

[11 rows x 28 columns]

In [8]:
dt=df[(df.duration>160)&(df.duration<200)]

print(dt[["director_name"]]) # we can give no of columns

          director_name
0         James Cameron
1        Gore Verbinski
3     Christopher Nolan
10          Zack Snyder
11         Bryan Singer
...                 ...
4087                NaN
4113                NaN
4238      William Wyler
4572     Khalid Mohamed
4688        Steve James

[96 rows x 1 columns]

In [9]:

print(df.isnull()) # it gives false if data presents ,true for data empty

print(df.notnull()) #it gives false if data absent ,true for data present

      color  director_name  num_critic_for_reviews  duration  \
0     False          False                   False     False
1     False          False                   False     False
2     False          False                   False     False
3     False          False                   False     False
4      True          False                    True      True
...     ...            ...                     ...       ...
5038  False          False                   False     False
5039  False           True                   False     False
5040  False          False                   False     False
5041  False          False                   False     False
5042  False          False                   False     False

      director_facebook_likes  actor_3_facebook_likes  actor_2_name  \
0                       False                   False         False
1                       False                   False         False
2                       False                   False         False
3                       False                   False         False
4                       False                    True         False
...                       ...                     ...           ...
5038                    False                   False         False
5039                     True                   False         False
5040                    False                   False         False
5041                    False                   False         False
5042                    False                   False         False

      actor_1_facebook_likes  gross  genres  ...  num_user_for_reviews  \
0                      False  False   False  ...                 False
1                      False  False   False  ...                 False
2                      False  False   False  ...                 False
3                      False  False   False  ...                 False
4                      False   True   False  ...                  True
...                      ...    ...     ...  ...                   ...
5038                   False   True   False  ...                 False
5039                   False   True   False  ...                 False
5040                   False   True   False  ...                 False
5041                   False  False   False  ...                 False
5042                   False  False   False  ...                 False

      language  country  content_rating  budget  title_year  \
0        False    False           False   False       False
1        False    False           False   False       False
2        False    False           False   False       False
3        False    False           False   False       False
4         True     True            True    True        True
...        ...      ...             ...     ...         ...
5038     False    False            True    True       False
5039     False    False           False    True        True
5040     False    False            True   False       False
5041     False    False           False    True       False
5042     False    False           False   False       False

      actor_2_facebook_likes  imdb_score  aspect_ratio  movie_facebook_likes
0                      False       False         False                 False
1                      False       False         False                 False
2                      False       False         False                 False
3                      False       False         False                 False
4                      False       False          True                 False
...                      ...         ...           ...                   ...
5038                   False       False          True                 False
5039                   False       False         False                 False
5040                   False       False          True                 False
5041                   False       False         False                 False
5042                   False       False         False                 False

[5043 rows x 28 columns]
      color  director_name  num_critic_for_reviews  duration  \
0      True           True                    True      True
1      True           True                    True      True
2      True           True                    True      True
3      True           True                    True      True
4     False           True                   False     False
...     ...            ...                     ...       ...
5038   True           True                    True      True
5039   True          False                    True      True
5040   True           True                    True      True
5041   True           True                    True      True
5042   True           True                    True      True

      director_facebook_likes  actor_3_facebook_likes  actor_2_name  \
0                        True                    True          True
1                        True                    True          True
2                        True                    True          True
3                        True                    True          True
4                        True                   False          True
...                       ...                     ...           ...
5038                     True                    True          True
5039                    False                    True          True
5040                     True                    True          True
5041                     True                    True          True
5042                     True                    True          True

      actor_1_facebook_likes  gross  genres  ...  num_user_for_reviews  \
0                       True   True    True  ...                  True
1                       True   True    True  ...                  True
2                       True   True    True  ...                  True
3                       True   True    True  ...                  True
4                       True  False    True  ...                 False
...                      ...    ...     ...  ...                   ...
5038                    True  False    True  ...                  True
5039                    True  False    True  ...                  True
5040                    True  False    True  ...                  True
5041                    True   True    True  ...                  True
5042                    True   True    True  ...                  True

      language  country  content_rating  budget  title_year  \
0         True     True            True    True        True
1         True     True            True    True        True
2         True     True            True    True        True
3         True     True            True    True        True
4        False    False           False   False       False
...        ...      ...             ...     ...         ...
5038      True     True           False   False        True
5039      True     True            True   False       False
5040      True     True           False    True        True
5041      True     True            True   False        True
5042      True     True            True    True        True

      actor_2_facebook_likes  imdb_score  aspect_ratio  movie_facebook_likes
0                       True        True          True                  True
1                       True        True          True                  True
2                       True        True          True                  True
3                       True        True          True                  True
4                       True        True         False                  True
...                      ...         ...           ...                   ...
5038                    True        True         False                  True
5039                    True        True          True                  True
5040                    True        True         False                  True
5041                    True        True          True                  True
5042                    True        True          True                  True

[5043 rows x 28 columns]

In [10]:
print(df.isnull().sum())  
# gives the data how many null values are present

color                         19
director_name                104
num_critic_for_reviews        50
duration                      15
director_facebook_likes      104
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross                        884
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                153
movie_imdb_link                0
num_user_for_reviews          21
language                      12
country                        5
content_rating               303
budget                       492
title_year                   108
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 329
movie_facebook_likes           0
dtype: int64

In [11]:
print(df["country"].head())

0    USA
1    USA
2     UK
3    USA
4    NaN
Name: country, dtype: object

In [12]:
df.country = df.country.fillna(df.country.mode()[0])
# repeated data will be filled in place of NAN as it is text data
print(df["country"].head())

0    USA
1    USA
2     UK
3    USA
4    USA
Name: country, dtype: object

In [13]:
df.country=df.country.fillna("INDIA") 
# NAN  place will be filled with india
print(df["country"].head())

0    USA
1    USA
2     UK
3    USA
4    USA
Name: country, dtype: object

In [14]:
print(df.duration.isnull().sum())

15

In [15]:
print("Mean of duration:",df.duration.mean())
# mean of one column

Mean of duration: 107.2010739856802

In [16]:
df.duration=df.duration.fillna(df.duration.mean())
print(df.duration)

0       178.000000
1       169.000000
2       148.000000
3       164.000000
4       107.201074
           ...
5038     87.000000
5039     43.000000
5040     76.000000
5041    100.000000
5042     90.000000
Name: duration, Length: 5043, dtype: float64

In [20]:
print(df.duration.isnull().sum())

0

In [22]:
dt=df.director_name.str.upper() 
#converts letters into upper
print(dt.head(10))

0        JAMES CAMERON
1       GORE VERBINSKI
2           SAM MENDES
3    CHRISTOPHER NOLAN
4          DOUG WALKER
5       ANDREW STANTON
6            SAM RAIMI
7         NATHAN GRENO
8          JOSS WHEDON
9          DAVID YATES
Name: director_name, dtype: object

In [23]:
print(df.movie_title.str.strip()) 
#remove with spaces

0                                           Avatar
1         Pirates of the Caribbean: At World's End
2                                          Spectre
3                            The Dark Knight Rises
4       Star Wars: Episode VII - The Force Awakens
                           ...
5038                       Signed Sealed Delivered
5039                                 The Following
5040                          A Plague So Pleasant
5041                              Shanghai Calling
5042                             My Date with Drew
Name: movie_title, Length: 5043, dtype: object

In [24]:
dfnew=df.rename(columns={'director_name':'director',
                         'num_critic_for_reviews':'reviews',
                         'movie_facebook_likes':'FB_likes'})
print(dfnew.head(10))

   color           director  reviews    duration  director_facebook_likes  \
0  Color      James Cameron    723.0  178.000000                      0.0
1  Color     Gore Verbinski    302.0  169.000000                    563.0
2  Color         Sam Mendes    602.0  148.000000                      0.0
3  Color  Christopher Nolan    813.0  164.000000                  22000.0
4    NaN        Doug Walker      NaN  107.201074                    131.0
5  Color     Andrew Stanton    462.0  132.000000                    475.0
6  Color          Sam Raimi    392.0  156.000000                      0.0
7  Color       Nathan Greno    324.0  100.000000                     15.0
8  Color        Joss Whedon    635.0  141.000000                      0.0
9  Color        David Yates    375.0  153.000000                    282.0

   actor_3_facebook_likes       actor_2_name  actor_1_facebook_likes  \
0                   855.0   Joel David Moore                  1000.0
1                  1000.0      Orlando Bloom                 40000.0
2                   161.0       Rory Kinnear                 11000.0
3                 23000.0     Christian Bale                 27000.0
4                     NaN         Rob Walker                   131.0
5                   530.0    Samantha Morton                   640.0
6                  4000.0       James Franco                 24000.0
7                   284.0       Donna Murphy                   799.0
8                 19000.0  Robert Downey Jr.                 26000.0
9                 10000.0   Daniel Radcliffe                 25000.0

         gross                                             genres  ...  \
0  760505847.0                    Action|Adventure|Fantasy|Sci-Fi  ...
1  309404152.0                           Action|Adventure|Fantasy  ...
2  200074175.0                          Action|Adventure|Thriller  ...
3  448130642.0                                    Action|Thriller  ...
4          NaN                                        Documentary  ...
5   73058679.0                            Action|Adventure|Sci-Fi  ...
6  336530303.0                           Action|Adventure|Romance  ...
7  200807262.0  Adventure|Animation|Comedy|Family|Fantasy|Musi...  ...
8  458991599.0                            Action|Adventure|Sci-Fi  ...
9  301956980.0                   Adventure|Family|Fantasy|Mystery  ...

  num_user_for_reviews language  country  content_rating       budget  \
0               3054.0  English      USA           PG-13  237000000.0
1               1238.0  English      USA           PG-13  300000000.0
2                994.0  English       UK           PG-13  245000000.0
3               2701.0  English      USA           PG-13  250000000.0
4                  NaN      NaN      USA             NaN          NaN
5                738.0  English      USA           PG-13  263700000.0
6               1902.0  English      USA           PG-13  258000000.0
7                387.0  English      USA              PG  260000000.0
8               1117.0  English      USA           PG-13  250000000.0
9                973.0  English       UK              PG  250000000.0

   title_year actor_2_facebook_likes imdb_score  aspect_ratio FB_likes
0      2009.0                  936.0        7.9          1.78    33000
1      2007.0                 5000.0        7.1          2.35        0
2      2015.0                  393.0        6.8          2.35    85000
3      2012.0                23000.0        8.5          2.35   164000
4         NaN                   12.0        7.1           NaN        0
5      2012.0                  632.0        6.6          2.35    24000
6      2007.0                11000.0        6.2          2.35        0
7      2010.0                  553.0        7.8          1.85    29000
8      2015.0                21000.0        7.5          2.35   118000
9      2009.0                11000.0        7.5          2.35    10000

[10 rows x 28 columns]

In [ ]:
#  dfnew.to_csv("cleanmovie1.csv") 
# new csv file will be created in same path

In [25]:
print(df.duration.head(10))

0    178.000000
1    169.000000
2    148.000000
3    164.000000
4    107.201074
5    132.000000
6    156.000000
7    100.000000
8    141.000000
9    153.000000
Name: duration, dtype: float64

In [27]:
dt=df.sort_values(by='duration')

print(dt.duration.head(10))

2345     7.0
1947     7.0
4079    11.0
4673    14.0
4439    20.0
279     22.0
4803    22.0
833     22.0
4281    22.0
1842    22.0
Name: duration, dtype: float64

In [28]:
da=df.sort_values(by=['duration'],ascending=False)
print(da.duration.head(10))

1710    511.0
2466    334.0
1501    330.0
1144    325.0
3311    300.0
2970    293.0
1571    289.0
2727    286.0
883     280.0
1980    271.0
Name: duration, dtype: float64

In [29]:
df.isnull().sum()

color                         19
director_name                104
num_critic_for_reviews        50
duration                       0
director_facebook_likes      104
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross                        884
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                153
movie_imdb_link                0
num_user_for_reviews          21
language                      12
country                        0
content_rating               303
budget                       492
title_year                   108
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 329
movie_facebook_likes           0
dtype: int64